<a href="https://colab.research.google.com/github/vivekparasharr/Applying-Data-Science/blob/main/Stocks/Stocks_technical_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install ta

# alternatives
# pip install pandas_ta
# pip install bta-lib

In [ ]:
pip install yahoo-fin

In [ ]:
import yahoo_fin.stock_info as si
import pandas as pd
from ta import add_all_ta_features

In [ ]:
data = si.get_data("aapl")
data.head(2)

                open      high       low     close  adjclose     volume ticker
1980-12-12  0.128348  0.128906  0.128348  0.128348  0.099874  469033600   AAPL
1980-12-15  0.122210  0.122210  0.121652  0.121652  0.094663  175884800   AAPL

In [ ]:
# add technical analysis features
data = add_all_ta_features(data, open="open", high="high", low="low", close="adjclose", volume="volume")
data.head(2)

/usr/local/lib/python3.8/dist-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/usr/local/lib/python3.8/dist-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

,open,high,low,close,adjclose,volume,ticker,volume_adi,volume_obv,volume_cmf,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099874,469033600,AAPL,-4.833739e+10,469033600,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-99.365971,NaN,0.000000
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094663,175884800,AAPL,-6.552714e+10,293148800,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.217052,-5.358066,-5.217052

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10598 entries, 1980-12-12 to 2022-12-22
Data columns (total 93 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   open                       10598 non-null  float64
 1   high                       10598 non-null  float64
 2   low                        10598 non-null  float64
 3   close                      10598 non-null  float64
 4   adjclose                   10598 non-null  float64
 5   volume                     10598 non-null  int64
 6   ticker                     10598 non-null  object
 7   volume_adi                 10597 non-null  float64
 8   volume_obv                 10598 non-null  int64
 9   volume_cmf                 10337 non-null  float64
 10  volume_fi                  10585 non-null  float64
 11  volume_em                  10596 non-null  float64
 12  volume_sma_em              10570 non-null  float64
 13  volume_vpt                 10598 non-null  float64
 14  volume_vwap                10585 non-null  float64
 15  volume_mfi                 10585 non-null  float64
 16  volume_nvi                 10598 non-null  float64
 17  volatility_bbm             10579 non-null  float64
 18  volatility_bbh             10579 non-null  float64
 19  volatility_bbl             10579 non-null  float64
 20  volatility_bbw             10579 non-null  float64
 21  volatility_bbp             10579 non-null  float64
 22  volatility_bbhi            10598 non-null  float64
 23  volatility_bbli            10598 non-null  float64
 24  volatility_kcc             10589 non-null  float64
 25  volatility_kch             10598 non-null  float64
 26  volatility_kcl             10598 non-null  float64
 27  volatility_kcw             10589 non-null  float64
 28  volatility_kcp             10598 non-null  float64
 29  volatility_kchi            10598 non-null  float64
 30  volatility_kcli            10598 non-null  float64
 31  volatility_dcl             10579 non-null  float64
 32  volatility_dch             10579 non-null  float64
 33  volatility_dcm             10579 non-null  float64
 34  volatility_dcw             10579 non-null  float64
 35  volatility_dcp             10579 non-null  float64
 36  volatility_atr             10598 non-null  float64
 37  volatility_ui              10585 non-null  float64
 38  trend_macd                 10573 non-null  float64
 39  trend_macd_signal          10565 non-null  float64
 40  trend_macd_diff            10565 non-null  float64
 41  trend_sma_fast             10587 non-null  float64
 42  trend_sma_slow             10573 non-null  float64
 43  trend_ema_fast             10587 non-null  float64
 44  trend_ema_slow             10573 non-null  float64
 45  trend_vortex_ind_pos       10584 non-null  float64
 46  trend_vortex_ind_neg       10584 non-null  float64
 47  trend_vortex_ind_diff      10584 non-null  float64
 48  trend_trix                 10555 non-null  float64
 49  trend_mass_index           10558 non-null  float64
 50  trend_dpo                  10579 non-null  float64
 51  trend_kst                  10584 non-null  float64
 52  trend_kst_sig              10584 non-null  float64
 53  trend_kst_diff             10584 non-null  float64
 54  trend_ichimoku_conv        10590 non-null  float64
 55  trend_ichimoku_base        10573 non-null  float64
 56  trend_ichimoku_a           10573 non-null  float64
 57  trend_ichimoku_b           10598 non-null  float64
 58  trend_stc                  10527 non-null  float64
 59  trend_adx                  10598 non-null  float64
 60  trend_adx_pos              10598 non-null  float64
 61  trend_adx_neg              10598 non-null  float64
 62  trend_cci                  10579 non-null  float64
 63  trend_visual_ichimoku_a    10573 non-null  float64
 64  trend_visual_ichimoku_b    10598 non-null  float64
 65  trend_aroon_up             10574 non-null  float64
 66  trend_aroon_down           10574 non-null  float64
 67  trend_aroon_ind            10574 non-null  float64
 68  trend_psar_up              5692 non-null   float64
 69  trend_psar_down            4904 non-null   float64
 70  trend_psar_up_indicator    10598 non-null  float64
 71  trend_psar_down_indicator  10598 non-null  float64
 72  momentum_rsi               10585 non-null  float64
 73  momentum_stoch_rsi         10572 non-null  float64
 74  momentum_stoch_rsi_k       10570 non-null  float64
 75  momentum_stoch_rsi_d       10568 non-null  float64
 76  momentum_tsi               10561 non-null  float64
 77  momentum_uo                10570 non-null  float64
 78  momentum_stoch             10585 non-null  float64
 79  momentum_stoch_signal      10583 non-null  float64
 80  momentum_wr                10585 non-null  float64
 81  momentum_ao                10565 non-null  float64
 82  momentum_roc               10586 non-null  float64
 83  momentum_ppo               10573 non-null  float64
 84  momentum_ppo_signal        10565 non-null  float64
 85  momentum_ppo_hist          10565 non-null  float64
 86  momentum_pvo               10573 non-null  float64
 87  momentum_pvo_signal        10565 non-null  float64
 88  momentum_pvo_hist          10565 non-null  float64
 89  momentum_kama              10589 non-null  float64
 90  others_dr                  10598 non-null  float64
 91  others_dlr                 10597 non-null  float64
 92  others_cr                  10598 non-null  float64
dtypes: float64(90), int64(2), object(1)
memory usage: 7.6+ MB

In [ ]:
data.momentum_rsi.tail()

2022-12-16    35.856412
2022-12-19    33.722465
2022-12-20    33.651923
2022-12-21    39.759404
2022-12-22    34.717161
Name: momentum_rsi, dtype: float64

In [ ]:
# calculate individual indicators rather than pulling them all in at once
# for example, if you want to calculate the 21-day RSI, rather than the default 14-day calculation, you can use the momentum module
from ta.momentum import RSIIndicator
rsi_21 = RSIIndicator(close = data.adjclose, window = 21)
data["rsi_21"] = rsi_21.rsi()
data["rsi_21"]

1980-12-12          NaN
1980-12-15          NaN
1980-12-16          NaN
1980-12-17          NaN
1980-12-18          NaN
                ...
2022-12-16    40.009965
2022-12-19    38.462365
2022-12-20    38.411341
2022-12-21    42.044492
2022-12-22    38.546506
Name: rsi_21, Length: 10598, dtype: float64

In [ ]:
# use the trend module to calculate MACD
from ta.trend import macd
data["macd"] = macd(data.adjclose, window_slow = 26, window_fast = 12)
data["macd"]

1980-12-12         NaN
1980-12-15         NaN
1980-12-16         NaN
1980-12-17         NaN
1980-12-18         NaN
                ...
2022-12-16   -2.026614
2022-12-19   -2.641639
2022-12-20   -3.098975
2022-12-21   -3.170690
2022-12-22   -3.558890
Name: macd, Length: 10598, dtype: float64